.contact-form{
    display: flex;
    height: 80vh;
    margin-top: 4rem;
    padding: 0 3rem 0 3rem;
}
.w-left{
    display: flex;
}
.w-left span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;

}
.w-left span:nth-of-type(2){
    color: var(--orange);
}
.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right > form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3rem;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 20px;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
}
textarea{
    height: 4rem !important;
    resize: none;
    vertical-align: middle;
}
.c-blur1{
    top: 1rem;
    left: 8rem;
}




